/* общие стили  */
*{margin:0;padding:0;}

body{
	background-color: #10111A;
	color: aliceblue;
}

/* подключение шрифтов  */

@font-face {
    font-family: EngraversGothic; /* Имя шрифта */
    src: url("../webfonts/EngraversGothic BT.otf"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family:SourceSansPro-Regular; /* Имя шрифта */
    src: url("../webfonts/SourceSansPro-Regular.otf"); /* Путь к файлу со шрифтом */
   }
/* header  */
.header{background-color:#61786D;}

/* slider  */
.text-h1-slider
{
	padding-top: 100px;
	padding-bottom: 40px;
}
.button-slider
{
	margin-top: 50px;
	margin-bottom: 130px;
}

/* Slider */
#slider{
  width:100%;
  height:500px;
  position:relative;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slide img{
  width:100%;
  height:100%;
}
.slide img{
   width:100%;
  height:100%;
}
.image{
  width:100%;
  height:100%;
}
.image img{
  width:100%;
  height:auto;
}


/* Switch */
.switch{
	text-align: center;
  width:120px;
  height:10px;
  position:absolute;
  bottom:50px;
  z-index:99;
  left:30px;
}

.switch > ul{
  list-style:none;
}
.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#333;
  float:left;
  margin-right:5px;
  cursor:pointer;
}

.switch ul{
  overflow:hidden;
}
.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background:#f39c12;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}


/* services  */
.services
{
	background-color: #FFFFFF;
	color: #10111A;
}

.block_info_news{
	height: 200px;
  background: #fff;
  padding: 5px; margin: 0;
  overflow: hidden;
border-radius: 22px  22px  0px  0px;
}


.border-services
{
	border-radius: 25px;
	border: 3px solid;
	border-color: #f9a821;
	
}
.text_usl
{
	height: 60px;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}
/* footer */

/* button  */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */


/*   */



.header-menu{

	font-family: EngraversGothic;
	color:#d79300;
	margin: 0;
	padding: 0 ;
	margin-bottom: 1px
}
.header-menu:hover{
	color:#d79300;
	border-bottom: double 1px #d79300;	
	margin: 0;
	padding: 0 ;
	
	
}


.title {
  font-family: sans-serif;
  font-weight: normal;
  background-color: #10111A;
  text-align: center;
  color: #fff;
  border-radius: 1px;
  position: relative;
	
}

.title::after {
  content: '';
  padding-top: 3%;
  
  background: linear-gradient(to right top, transparent 49.5%, #10111A 50%) left / 50.025% 100% no-repeat,
linear-gradient(to left top, transparent 49.5%, #10111A 50%) right / 50.025% 100% no-repeat;
  
  position: absolute;
  top: 100%;
  left: 2px;
  right: 2px;
}









