/**
 * Предложение исправлений
 */
.carousel-caption{
    position: absolute;
    top:0;
    right: 5%;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-caption p{
    text-align: left;
    margin-left: 5%;
}
.head-slide-button .gradient-border{
    margin-left: 5%;
}
.carousel-control-next, .carousel-control-prev{
    bottom: auto;
    top:35%;
    width: 10%;
}
.text-h1-slider{
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: left;
    margin-left: 5%;
}
.carousel-arrow::after {
    content: '';
    padding-top: 5%;
    background: linear-gradient(to right top,#F2A509 49.5%, transparent 50%) left / 50.025% 100% no-repeat, linear-gradient(to left top, #F2A509 49.5%, transparent 50%) right / 50.025% 100% no-repeat;
    position: absolute;
    width: 100%;
    bottom: -1px;
}
@media (max-width: 1500px) {
    .text-h1-slider{
        font-size: 55px;
        padding-top: 15px;
       padding-bottom: 10px;
    }
    .slider-mask img{
        bottom: -20px;
    }
    .carousel-caption{
        left: 5px;
        right: 5px;
    }
    .carousel-caption p{
        font-size: 20px;
    }
    .head-slide-button .gradient-border{
        margin-top: 25px;
    }
}
@media (max-width: 1200px) {
    .social-btn{
        position: absolute;
        right: 14px;
        top: 5px;
    }
}
@media (max-width: 1150px) {
    .text-h1-slider{
        font-size: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .slider-mask img{
        bottom: -40px;
    }
    .carousel-caption{
        left: 5px;
        right: 5px;
    }
    .carousel-caption p{
        font-size: 18px;
    }
    .head-slide-button .gradient-border{
        margin-top: 25px;
    }
}


@media (max-width: 1000px) {
    .text-h1-slider{
        font-size: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .carousel-caption{
        left: 5px;
        right: 5px;
    }
    .carousel-caption p{
        font-size: 15px;
    }
    .head-slide-button .gradient-border{
        margin-top: 25px;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 12%;
    }
    .social-btn{
        position: absolute;
        right: 25px;
        top: 14px;
    }
}

@media (max-width: 800px) {
    .top-call-button{
        position: absolute;
        top: -25px;
        right: -18px;
    }
}
@media (max-width: 768px) {
    .header_icon{
        text-align: center;
    }
    .header_icon div{
        padding: 3px;
    }
    .social-btn{
        position: absolute;
        right: 25px;
        top: 40px;
    }
}
@media (max-width: 760px) {
    .head-slide-button .gradient-border{
        margin-top: 8px;
        font-size: 16px !important;
        padding: 0px;
        display: inline-flex !important;
        flex-direction: column;
    }
    .carousel-arrow::after{
        bottom: -1px;
    }
    .carousel-caption p{
        text-align: center;
        margin:0px;
    }
    .text-h1-slider{
        text-align: center;
        margin: 0px;
    }
}
@media (max-width: 720px) {
    .md-hide{
        display: none;
    }
    .top-call-button{
        position: absolute;
        top: -25px;
        right: 0px;
        font-size: 16px !important;
    }
}
@media (max-width: 576px) {
    .top-call-button{
        position: absolute;
        top: -25px;
        right: 30px;
    }
}