@font-face {
    font-family: 'Ristretto Pro';
    src: url('RistrettoPro-Light.eot');
    src: local('Ristretto Pro Light'), local('RistrettoPro-Light'),
        url('RistrettoPro-Light.eot?#iefix') format('embedded-opentype'),
        url('RistrettoPro-Light.woff2') format('woff2'),
        url('RistrettoPro-Light.woff') format('woff'),
        url('RistrettoPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ristretto Pro';
    src: url('RistrettoPro-ExtraLight.eot');
    src: local('Ristretto Pro ExtraLight'), local('RistrettoPro-ExtraLight'),
        url('RistrettoPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('RistrettoPro-ExtraLight.woff2') format('woff2'),
        url('RistrettoPro-ExtraLight.woff') format('woff'),
        url('RistrettoPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Ristretto Pro';
    src: url('RistrettoPro-Black.eot');
    src: local('Ristretto Pro Black'), local('RistrettoPro-Black'),
        url('RistrettoPro-Black.eot?#iefix') format('embedded-opentype'),
        url('RistrettoPro-Black.woff2') format('woff2'),
        url('RistrettoPro-Black.woff') format('woff'),
        url('RistrettoPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Ristretto Pro';
    src: url('RistrettoPro-Thin.eot');
    src: local('Ristretto Pro Thin'), local('RistrettoPro-Thin'),
        url('RistrettoPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('RistrettoPro-Thin.woff2') format('woff2'),
        url('RistrettoPro-Thin.woff') format('woff'),
        url('RistrettoPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Ristretto Pro';
    src: url('RistrettoPro-Bold.eot');
    src: local('Ristretto Pro Bold'), local('RistrettoPro-Bold'),
        url('RistrettoPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('RistrettoPro-Bold.woff2') format('woff2'),
        url('RistrettoPro-Bold.woff') format('woff'),
        url('RistrettoPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ristretto Pro';
    src: url('RistrettoPro-Medium.eot');
    src: local('Ristretto Pro Medium'), local('RistrettoPro-Medium'),
        url('RistrettoPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('RistrettoPro-Medium.woff2') format('woff2'),
        url('RistrettoPro-Medium.woff') format('woff'),
        url('RistrettoPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ristretto Pro';
    src: url('RistrettoPro.eot');
    src: local('Ristretto Pro'), local('RistrettoPro'),
        url('RistrettoPro.eot?#iefix') format('embedded-opentype'),
        url('RistrettoPro.woff2') format('woff2'),
        url('RistrettoPro.woff') format('woff'),
        url('RistrettoPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ristretto Pro';
    src: url('RistrettoPro-SemiBold.eot');
    src: local('Ristretto Pro SemiBold'), local('RistrettoPro-SemiBold'),
        url('RistrettoPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RistrettoPro-SemiBold.woff2') format('woff2'),
        url('RistrettoPro-SemiBold.woff') format('woff'),
        url('RistrettoPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

